<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#navbar"
        aria-expanded="false"
        aria-controls="navbar"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="logo">
        <a class="navbar-brand" href="/">Growth Pillars</a>
        <p class="subheader">The best marketing strategies, everyday.</p>
      </div>
    </div>

    {% if user %}
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a
            href="#"
            class="dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-expanded="false"
          >
            <img class="nav-user-img" src="{{ user.image_url }}"/>
            <span class="caret"/>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">View Profile</a></li>
            <li><a href="/auth/logout">Sign Out</a></li>
          </ul>
        </li>
        <li id="submit-post">
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
    {% else %}
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/auth/twitter" class="register">Sign Up</a></li>
        <li><a href="/auth/twitter" class="login">Twitter Login</a></li>
      </ul>
    </div>
    {% endif %}
  </div><!-- /.container-fluid -->
</nav>

<!--
******************************
        Main Feed
******************************
-->

<div class="container">
  <div class="page-header">
    <time class="date" datetime="2014-11-25">
      <h4 class="day-name"></h4><h4 class="day-name">TODAY</h4>
    </time>
  </div>
  <div class="posts-list">
  {% for post in posts %}
    <div class="row post-item">
      <div class="col-xs-10">
        <div class="post-content-container">
          <div class="upvote">
            <a href="#"><span class="glyphicon glyphicon-chevron-up"></span></a>
            <span class="upvote">10</span>
          </div>
          <a class="post-title" href="/view/{{ post.id }}">
            {{ post.title }}
          </a>
          <p class="post-growth">
            {{ post.result }} in {{ post.labor }} hours using {{ post.place }}
          </p>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="post-user-container">
          <a href="#user-profile-link" title="Replace this with user's profile page">
            <img class="post-user-image img-circle"src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="{{ post.user.image_url }}" />
          </a>
          <a href="#"><span class="glyphicon glyphicon-comment" aria-hidden="true">10</span></a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<script src="http://localhost:9090/js/index.js"></script>
</body>
