<div class="container">
  <div class="page-header">
    <time class="date" datetime="2014-11-25">
      <h4 class="day-name"></h4><h4 class="day-name">TODAY</h4>
    </time>
  </div>
  <div class="posts-list">
  {% for post in posts %}
    <div class="row post-item">
      <div class="col-xs-10">
        <div class="post-content-container">
          <div class="upvote">
            <a href="#"><span class="glyphicon glyphicon-chevron-up"></span></a>
            <span class="upvote">10</span>
          </div>
          <a class="post-title" href="/view/{{ post.id }}">
            {{ post.title }}
          </a>
          <p class="post-growth">
            {{ post.result }} in {{ post.labor }} hours using {{ post.place }}
          </p>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="post-user-container">
          <a href="#user-profile-link" title="Replace this with user's profile page">
            <img class="post-user-image img-circle"src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="{{ post.user.image_url }}" />
          </a>
          <a href="#"><span class="glyphicon glyphicon-comment" aria-hidden="true">10</span></a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
