<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Growth Pillars</title>
  <link rel="stylesheet" href="styles/app.css"/>
</head>
<body>

<!--
******************************
       NAVIGATION BAR
******************************
-->

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="brand-header">
        <a class="navbar-brand brand-name" href="/home">
          GROWTH PILLARS
        </a>
        <p class="support-header">The best marketing strategies, everyday</p>
      </div>
    </div>

    {% if user %}
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a
            href="#"
            class="dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-expanded="false"
          >
            <img class="nav-user-img" src="{{ user.image_url }}"/>
            <span class="caret"/>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">View Profile</a></li>
            <li><a href="/logout">Sign Out</a></li>
          </ul>
        </li>
        <li>
          <a href="/post" class="button-link">
            <button class="submit-btn">Post Your Strategy</button>
          </a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
    {% else %}
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/auth/twitter" class="register">Sign Up</a></li>
        <li><a href="/auth/twitter" class="login">Twitter Login</a></li>
      </ul>
    </div>
    {% endif %}
  </div><!-- /.container-fluid -->
</nav>


<!--
******************************
        Main Feed
******************************
-->

<div class="container feed-container">
  <div class="day-today">
    <time class="date" datetime="2014-11-25">
      <h4 class="day-name"></h4><h4 class="day-name">TODAY</h4>
    </time>
  </div>
  {% for post in posts %}
    <div class="row feed-row">
      <div class="col-xs-10 post">
        <div class="title-vote-info">
          <div class="upvote">
            <span class="glyphicon glyphicon-chevron-up"></span>
            <span class="upvote">10</span>
          </div>
          <a class="post-title" href="/view/{{ post.id }}">
            {{ post.title }}
          </a>
          <p class="post-growth">
            {{ post.result }} in {{ post.labor }} hours using {{ post.place }}
          </p>
        </div>
      </div>
      <div class="col-xs-2 image-comment-wrapper">
        <div class="image-comment">
          <img
            class="post-user-image"
            src="{{ post.user.image_url }}"
            alt="Poster photo"
          />
          <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js">
</script>
<script src="js/base.js"></script>
<script src="js/common.js"></script>

</body>
</html>
