{% extends 'base.html' %}

{% block content %}
    <h1>View Post</h1>
    <h4>Place</h4>
    <p>{{ post_data.place }}</p>
    <h4>Idea</h4>
    <p>{{ post_data.idea }}</p>
    <h4>Labor</h4>
    <p>{{ post_data.labor }} hours</p>
    <h4>Link</h4>
    <a href="{{ post_data.link }}">Link</a>
    <h4>Audience</h4>
    <p>{{ post_data.audience }}</p>
    <h4>Results</h4>
    <p>{{ post_data.result }}</p>
    <h4>Spend</h4>
    <p>{{ post_data.spend }}</p>
    <h4>Story</h4>
    <p>{{ post_data.story }}</p>
    <a href="{% url 'vote' 1 %}">Upvote</a>
{% endblock %}